body {
    background-color: #F9E7C7;
    cursor: move;
}

.text {
    position: fixed;
    font-family: 'menschmensch_bold'; 
    font-size: 1.2em; 
    letter-spacing: .1em;
    line-height: .4em;
    color: #6D6C6A;
    padding-top: 1%;
    padding-left: 1%;
    z-index: 10;

}


#wrapper { 
    position: relative;
}

.sun {
    position: absolute;
    margin-left: 9090px;
    margin-top: 470px;  
    
}


.mercury {
    position: absolute;  
    margin-left: 9100px;
    margin-top: 8000px;
    }

.venus {
    position: absolute;  
    margin-left: 24200px;
    margin-top: 5700px;
    }

.earth {
    position: absolute; 
    margin-left: 8300px;
    margin-top: 9000px;
    
}

.mars {
    position: absolute;  
    margin-left: 26300px;
    margin-top: 6700px;
    }

.jupiter {
    position: absolute; 
    margin-left: 26800px;
    margin-top: 5000px; 
    
}

.saturn {
    position: absolute; 
    margin-left: 1800px; 
    margin-top: 8300px;
    
}


.uranus {
    position: absolute;  
    margin-left: 35800px;
    margin-top: 9800px;
    padding-right: 900px;
    }

.neptune {
    position: absolute;  
    margin-top: 15000px;
    padding-left: 900px;
    padding-bottom: 900px;
    }

.back {
    position: fixed;
    font-family: 'menschmensch_bold'; 
    font-size: 1.2em; 
    letter-spacing: .1em;
    color: #ffffff;
    padding-top: 1%;
    padding-left: 1%;

}